@* @model AddProduct *@

@* @using (Html.BeginForm("AddProduct", "Product", FormMethod.Post)) *@
@* { *@
@*     <div> *@
@*         @Html.LabelFor(model => model.PrName) *@
@*         @Html.TextBoxFor(model => model.PrName, new { @class = "form-control" }) *@
@*     </div> *@

@*     <div> *@
@*         @Html.LabelFor(model => model.Price) *@
@*         @Html.TextBoxFor(model => model.Price, new { @class = "form-control" }) *@
@*     </div> *@

@*     <div> *@
@*         @Html.LabelFor(model => model.Description) *@
@*         @Html.TextAreaFor(model => model.Description, new { @class = "form-control" }) *@
@*     </div> *@

@*     <button type="submit" class="btn btn-primary">Add Product</button> *@
@* } *@
